
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

body{
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
}



.greentext{
    color: #7bc144;
}

.k-o-text{
    text-align: center;
}

.textfooter{
    font-size: small;
    padding-left: 20px;
}




@media screen and (max-width: 750px) {

    header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 55px;
        background-color: white;
    }




    .menu{
        grid-area: menu;
    }
    .menu2{
        grid-area: menu2;
    }
    .menu3{
        grid-area: menu3;
    }
    .menu4{
        grid-area: menu4;
    }
    .menu5{
        grid-area: menu5;
    }
    .menu6{
        grid-area: menu6;
    }
    .menu7{
        grid-area: menu7;
    }
    .menu8{
        grid-area: menu8;
    }
    h2{
        padding-left: 12px;
        font-family: 'Nunito', sans-serif;
        font-weight: 500;
        font-size: large;
    }
    
    .arrowpil{
        height: 24px;
        position: absolute;
        left: 20px;
    
    }

    #nav-toggle{
        position: absolute;
        top: 16.4px;
        right: 12.5px;
        opacity: 0%;
    }
    
    .del1{
        transform: translateX(-100vh);
        height: 0px;
        transition: 300ms ease-in-out;
    
    }
    #nav-toggle:checked + .del1{
        transform: translateX(0vh);
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        height: 200px;
        scale: 1.1;
        width: 90%;
        font-family: 'Nunito', sans-serif;
        font-size: 90%;
    
    }

    
    li{
        list-style-type: none;
    }

    ul{
        width: 100%;
    }
    a{
        text-decoration: none;
        color: black;
    
    }
    .border{
        height: 1px;
        width: 100%;
        background-color: gray;
        opacity: 12%;
    }
    
    .hero{
        height: 500px;
        background-image: url(hero-02.jpg);
        background-position: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color:#ffffff;
    
        

    }
    .hero > p{
        font-family: 'Nunito', sans-serif;
        font-size: 0.9em;
        padding-bottom: 20px;
    }
    .h1_hero{
        text-align: center;
        color: white;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        padding: 2px;
        padding-top: 10px;
        
        color: #000000;
        text-shadow: -2px -2px 2px rgba(0, 0, 0, 0.1), 1px 1px 1px rgb(0, 0, 0);
        color: #ffffff;
    }

    .button{
        background-color: #7bc144;
        color: white;
        border-radius: 5px;
        padding: 0.6em 2.5em;
        font-size: 1em;
        font-family: 'Nunito', sans-serif;
        display: inline-block;
    }

    .sec3{
        background-color: rgba(255, 169, 57, 0);
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .sec4{
        background-color: rgb(255, 255, 255);
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-around;
        text-align: center;

    }

    .sec5_2{
        background-color: rgb(255, 255, 255);
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-around;
        text-align: center;
    }

    .sec5_3{
        background-color: rgb(255, 255, 255);
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-around;
        text-align: center;
    }

    .article1{
        background-color: rgb(237,203,53,255);
        height: fit-content;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
        padding: 20px;
        padding-top: 25px;
        padding-bottom: 35px;
        font-size: 0.9em;
        font-family: 'Nunito', sans-serif;
    }
    .button_black{
        background-color: rgb(39, 39, 39);
        color: white;
        border-radius: 5px;
        padding: 0.6em 2.5em;
        font-size: 1em;
        font-family: 'Nunito', sans-serif;
        display: inline-block;
        padding-bottom: 10px;
    }
    .luft{
        padding: 10px;
    }


    .sec7{
        background-color: rgba(123,193,68,255);
        height: fit-content;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
        padding: 13px;
        padding-top: 25px;
        padding-bottom: 35px;
        font-size: 1em;
        text-align: center;
        color: #ffffff;
        font-family: 'Nunito', sans-serif;
    }

    .sec8{
        background-color: white;
        height: fit-content;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
        padding: 13px;
        padding-top: 25px;
        padding-bottom: 35px;
        font-size: 1em;
        text-align: center;
        color: #000000;
        font-family: 'Nunito', sans-serif;
    }

    .sec9{
        background-color: rgb(237,203,53,255);
        height: fit-content;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
        padding: 10px;
        padding-top: 20px;
        padding-bottom: 30px;
        font-size: 1em;
        font-family: 'Nunito', sans-serif;
    }
    .luft > li{
        list-style-type: disc;
        font-size: 0.8em;
        font-weight: 600;
    }

    .luft > p{
        font-size: 0.9em;
    }

    .luft_50{
        height: 50px;
    }

    .luft_20{
        height: 15px;
    }

    .sec10{
    height: 300px;
    background-image: url(budbil1.jpg);
    background-position: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color:#ffffff;

    }

    .sec10_h1{
        font-size: 2em;
        text-shadow: 2px 1px 0 #000000;
        color: #FFFFFF;
    }

    footer{
        background-color: rgb(39, 39, 39);
        height: 900px;
        color: white;
    }

    .stm{
        height: 70px;
        padding: 6px;

    }

    .iconpack{
        display: flex;
        align-items: center;
        justify-content: center;
    }

}